
body {
background-image:url("../../Assets/Images/concrete_seamless.png");
height: 100%;   
}


.navbar {
    padding:0px;
    background-color: #ffffff;
    text-align: center;
    
}


.navbar-brand {
    padding: 20px;
    margin: 0px;
    width: 240px;
    font-family: "georgia";
    text-align: center;
    color: white !important;
    background-color: #4aaaa5;
}


.navbar-nav {
    color: #777777 !important;
    font-family: Arial;
    font-size: 14px;
}


.navbar-nav .nav-item:hover .nav-link {
    color: #4aaaa5;
}


.main {
    margin-top: 50px;
    padding: 10px;   
}


#aboutMeBox {
    padding-top: 20px;
    font-family: "georgia";
    color: #4aaaa5;
    background-color: white;
    
}


#aboutMeText {
    font-size: 22px;
}


#row2 {
    height: 100%;
}


#picBox {
    background-color: white;
    padding-bottom: 40px;
    padding-left: 35px; 
}


#profile-picture {
    width: 100px;
    height: 168px;
    padding-left: 0px;
    border: none;    
}


#textbox {  
    background-color: white;    
}


#text {
    color: #777777; 
    font-family: Arial;
}


#sticky-footer {    
    border-top: 8px solid #4aaaa5;
    background-color: #666666 !important;
    bottom: 0;
    width: 100%;
    color: #aaaaaa;
  }
